<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">
<!--START============================================================ -->
<?

//include("plg_ads/demo.html");
include("plg_ads/index.php");
?>
<!-- END =========================-->
  </div>
</div>

