#ads_add_img{

	width: 300px;
	overflow: hidden;
}
#image_preview>*{
}
#ads_block_textarea{
padding-right:0px;
}

#previewing{

padding:5px;

}

.col-img{
	width: 240px;
}

#ads_button_submit{
width: 150px;
height: 50px;

}

.ads_row{
	padding: 5px;
}

/* .btn-color-upload */

#loaded_image_preview{
	text-align: right;
}

.ads_previewing_img{
	height: 250px;
	border-radius: 4.5%;
}


#invalid{
	display: block;
	text-align: center;
}

.ad_out_img{
	height:80px;
}

.ads_panel_heading.panel-heading {
	background:#FFF8DC
}
.ads_city{
	text-align: right;
}

#ads_ribon_img *{
	padding: 0px;
	margin: 0 auto;
}

#ads_ribon_img {
	height: 10px;
}

#ads_ribon_img img{
	border-radius: 10%;
	padding: 3px;
	height: 80px;
}

#ads_ribon_img img:hover{
	border-radius: 10%;
	padding: 1px;

}

#ads_ad *{
 margin :0 auto;
}


#insert_table {
        border: 1px solid #cdcdcd;
}

    tr {
        border: 1px solid #cdcdcd;
    }

    td {
        border: 1px solid #cdcdcd;
}

.panel_ads {
   
    width: 50%;
    margin: 0px;
    border: none !important; 
    text-align: justify;

} 
.ads_label{
	font-weight:bold;

}

hr{
	color: black;
	background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}
#active_btn{
	background: lime;
}

